*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    padding: 0px 50px;
    margin: 0px 50px;
   

}

li{list-style: none;}

.navbar_area{
    position: fixed;
    z-index: 5;
    top: 0;

    width: 100%;
    height: 100px;
    background-color:blue;

}

.header_info {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
  }



.header_logo   img {
  width: 200px;
  height: 60px;

  }




  
  .nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.3rem;
   
  }
  
  .nav_menu_item{
    color: white;
  }
  .nav_menu_item:hover{
    cursor: pointer;
  }

  .navbar_btn{
    width: 50px;

  }
  .navbar_btn{
    cursor: pointer;
  }






.box{
  width: 100%;
  height: 600px;
  background-color: blue; 
    
}
.box_1{
width: 100%;
height: 500px;
background-color: blue;
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 50px;
}

.header_content{
width: 500px;
height: 350px;
margin-top: 50px;


}
.header_content_title{
    font-size: 45px;
    color: white;


}
.header_content_text{
    font-size: 18px;
    color: cornflowerblue;
    margin-top: 35px;

}

.header_image{
    width:600px;
    height: 450px;
    border-radius: 8px;
    align-items: center;
    margin-top: 30px;
}
 
.buttons{
    width: 400px; 
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.btn{
    width: 200px;
    height: 50px;
    margin-right: 12px;
    background-color:white;
    color: blue;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    border: none;

}
.btn:hover{
    cursor: pointer;
    border: 1px solid white;
    background-color: blue;
    color: white;
}

.video_button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
    color: blue;
    padding: 0px;
    line-height: 50px;
   
}

.iframe_text{
 color: white;
    font-size: 20px;
text-decoration: none;
}

.iframe_text:hover{
    cursor: pointer;
}

.box_data{
    width: 100%;
    height: 700px;
    box-sizing: border-box;
    padding-left: 50px;
    margin-top: 50px;
  
    display: flex;
    justify-content: space-between
    
}

.about_image{
  
    margin-top: 50px;
    width: 600px;
    height: 600px;
    display: inline-block;
    align-items: center;
    position: relative;
}




.about_image_2{
    width: 500px;
    height: 480px;
    z-index: 2;
    
}

.about_image_1{
    position: absolute;
    height: 90px;
   left: -30px;
    top: -20px;
    z-index: -1;
  
}



.box_text{
  width: 600px;
  height: 600px;  
  padding-left: 50px;
 margin-top: 50px;
}


.p{
    background-color: blue;
    width: 20px;
    height: 2px;
    margin-top: -1px;
   margin-right: 20px;
   
}
.small_title{
    width: 300px;
    font-size: 20px;
    line-height: 15px;
    display: flex;
    align-items: center;
  
}


.main_title{
    font-size: 45px;
    margin-top: 25px;

}

.box_tab_info{
width: 550px;
height: 80px;

border-radius: 4px;
margin-top: 20px;
padding:20px ;
border: 1px ;
background-color:  #dee2e6;
display: flex;
justify-content: space-around;
}

.box_tab_btn{
  width: 140px ;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  border:none;
}

.box_tab_btn:hover{
    background-color:white;
    color: blue;
    cursor: pointer;
}

.box_tab_btn:focus{
    background-color:blue;
    color: white;
    
}
.tab_content{
    margin-top: 30px;
    font-size: 20px;
    line-height: 25px;
    color: gray;
}


.section_content{
    margin-top: 70px;
    text-align: center;
}

.section_content_btn{
    border: 2px solid blue;
    color:blue;
    border-radius: 30px;
    padding: 8px 30px ;
    margin-bottom: 15px;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;  
}


.section_content_title{
    font-size: 40px;
    margin-top: 30px;

}

.section_content_text{
    font-size: 20px;
    margin: 30px  0px ;
   color: gray;
}
.service_cards{
    height: 680px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
   
    
    
}
.material-symbols-outlined{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid blue;
    color: blue;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    
}

.material-symbols-outlined:hover{
    background-color: blue;
    color: white;
}
.service_cards_item{
    width: 350px;
    height: 300px;
    border: 1px solid #efefef;
    border-radius: 10px;
    padding: 15px;
    
}

.service_cards_item:hover{
    
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);  
}


.service_cards_item_title{
    margin-top: 20px;
}
.service_cards_item_text{
    font-size: 18px;
    margin-top: 20px;
    
}

.video_content{ 
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -2;
   
}


.video_player_icon{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
}


 

.active{
    border:none;
    font-size: 20px;
    background-color: white;
    text-align: center;
    margin: 20px 20px;
   
}

.active:hover{
color: blue;
text-underline-offset: 10px;
text-decoration: underline;
}

.active:focus{
color: blue;
text-decoration: underline;
text-underline-offset: 10px;

}


.row_grid{
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;
  column-gap:30px ;
  row-gap: 40px;
}
.portfolio_style{
    width: 350px;
    height: 450px;
}
.portfolio_style_img{
    position: relative;
    width: 350px;
    height: 300px;
}

.portfolio_img{
    width: 350px;
    height: 300px; 
}

.portfolio_img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}


.portfolio_title{
font-size: 30px;
font-weight: 700;
margin-top: 16px;
margin-bottom: 8px;
}

.portfolio_icon_card{
    position: absolute;
    width: 300px;
    height: 250px;
    border-radius: 6px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    top: 20px;
    right: 20px;
    opacity: 0.5;
}

.portfolio_style_hover{
    display: none;
}
.portfolio_icon_item{
    width: 50px;
    height: 50px;
    background-color:blue;
    border-radius: 6px;
    padding: 16px;
}

.portfolio_icon{
    width: 30px;
    height: 30px;
}

.portfolio_img:hover + .portfolio_style_hover{
    display: block;
    transition: all 4s ease-in-out;
}






.pricing_area{
    background-color: #fafafa;
}

.pricing_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    column-gap: 30px;
}   


.pricing_card{
    border: 1px solid #efefef;
    border-radius: 10px;
    background-color: white;
    padding: 50px 35px;
    text-align: center;
    font-size: 18px;
   
}


.pricing_card_2{
    border: 1px solid #efefef;
    border-radius: 10px;
    background-color: white;
    padding: 50px 35px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 2px 4px  rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
}


.card_head_title{
    margin-bottom: 25px;
    color: blue;
    padding: 8px 20px;
    border-radius: 30px;
    border: 2px solid blue;
   font-size: 20px;
}

.card_head_title_2{
    margin-bottom: 25px;
    color: white;
    padding: 8px 20px;
    border-radius: 30px;
    border: 2px solid blue;
    background-color: blue;
   font-size: 20px;  
}

.amount{
    display: inline-block;
    position: relative;
    padding-left: 15px;
    font-size: 55px;
    color: black;
    margin-top: 30px;
}
.currency{
    position: absolute;
    font-size: 20px;
    top: 6px;
    left: 0px;
    color: #6d6d6d;

}

.duration{
    display: inline-block;
    font-size: 18px;
    color: #6d6d6d;
}

.pricing_btn{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid blue;
    color:blue;
    background-color: white;
    margin-top: 30px;
}
.pricing_btn:hover{
cursor: pointer;
background-color: blue;
color: white;
}

.pricing_btn:focus{
    cursor: pointer;
    background-color: blue;
    color: white;
}
.pricing_btn_2{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid blue;
    color:white;
    background-color: blue;
    margin-top: 30px; 
}
.pricing_btn_2:hover{
    cursor: pointer;
background-color: blue;
color: white;
}

.table_list{
box-sizing: border-box;
display: block;
margin-top: 30px;

text-align: left;
line-height: 20px;
list-style: none;
}

.checkmark_circle{
    
    width: 20px;
    height: 20px;
    margin-top: 20px;
  

}
.checkmark_circle_deactive{
    width: 20px;
    height: 20px;
    margin-top: 20px;
}

.team_area{
    margin-top: 80px;
    margin-bottom: 80px;
}

.team_boxes{
   display: flex;
   justify-content: space-between;
}




.team_box_style{
    position: relative;
    width:  340px;
    height: 380px;
    border-radius: 8px;
    box-shadow:  0px 2px 4px rgba(40, 41, 61, 0.04), 
    0px 8px 16px rgba(96, 97, 112, 0.16);
}



.team_box_image{
    max-width: 340px;
    height: 340px;
    
}

.team_box_image img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.team_content{
    position: absolute;
    z-index: 1;
    width: 340px;
    height: 120px;
    border-radius: 0 0 8px 8px;
    bottom: 0px;
    text-align: center;
    padding: 36px 0;
    background-color: white;
   
} 


.team_job{
    display: inline-block;
    color: blue;
    margin-top: 6px;
}

.team_content_hover{
    position: absolute;
    z-index: 2;
    width: 340px;
    height: 150px;
    padding: 50px 0;
    bottom: 0px;
    border-radius: 0 0 8px 8px;
    background-color: blue;
    color: white;
    display: none;
    text-align: center;
    justify-content: center;
}




.team_content_icons{
    position: absolute;
    width: 150px;
    border-radius: 20px;
    background-color: white;
    color: rgb(120, 120, 120);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 12px 30px;
    top: -20px;
    /* left: 140; */
 
}

.team_content:hover + .team_content_hover{
    display: block;
}







.call_action{
    width: 100%;
    height: 600px;
    background-color: blue;
    margin-top: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}


.inner_content{
    width:800px ;
    height: 200px;
    display: flex;
   flex-wrap: wrap; 
    text-align: center;
    align-items: center;
    justify-content: center;
}

.inner_content_title{
   color: white;
   font-size: 43px;
   line-height: 45px;
   text-align: center;
}

.inner_content_text{
    color: white;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-top: 40px;

}

.inner_button{
    width: 200px;
    height: 50px;
    margin-top: 40px;
    border: 1px solid white;
    color: white;
    border-radius: 3px; 
    font-size: 20px;
    background-color: transparent;
}

.inner_button:hover{
    cursor: pointer;
    background-color: white;
    color: blue;
}
 
.testimonial_area{
    width: 100%;
    height: 700px;
    background-color: #fafafa;
}

.testimonials_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    justify-content: center;
}



.testimonials_card{
  position: relative;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.author{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    
}

 .author_image{
    width: 70px;
    border-radius: 50%;
    
 }
.author_info{
   margin-left: 20px;
 
}
.name{
    margin-top: 15px;
    display: block;
    font-size: 20px;
   
}
.deg{
  font-size: 18px;                
}

 .shape2{
 position: absolute;

overflow: clip;
 right: -20px;
 bottom: -20px;
 }


 .news_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    
}
.news_card{
    width: 350px;
    height: 500px;
    margin-top: 50px;
    border-radius: 4px;

}
.news_card:hover  img{
    transform: scale(1.1);
    transition: all 0.4s ease;
}

.image{
    border-radius: 4px;
    position: relative;
    z-index: -1;
    vertical-align: middle;
    overflow: clip;
}

.news_img{
    width: 350px;
    height: 300px;
}
.news_img:hover{
    cursor: pointer;
    transform: scale(1.5);
 }



.details{
    position:absolute;
    z-index: 1;
    border-radius: 30px;
    background-color: blue;
    right: 20px;
    bottom: 20px;
    padding: 6px 12px 6px 7px;
    font-size: 10px;
    color: white;
    margin-left: 12px;
    display: flex;
    align-items: center;
}
 .details_img{
     width: 28px;
     height: 28px;
     border-radius: 50%;
     display: inline-block;
     margin-right: 10px;
    }




 .content_body{
    text-align: start;
 }
 

 .content_body_text{
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
 }
 .content_body_title{
    text-align: start;
 }
 .content_body_title:hover{
   cursor: pointer;
    color: blue;
 }



 .customers_logos{
     width: 100%;
   display: inline-block;
    
    text-align: center;
    align-items: center;
    margin-top: 20px;
   
 }

 .logo{
   
    display: inline-block;
    box-sizing: border-box;
    line-height: 100px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #eee;
    margin: 13px 10px;
    padding: 8px 25px;
   
 }
 .logo:hover{
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.4s ease-out 0s;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.096);
 }


 
 

.contact_item{
 
    display: flex;
    justify-content: center;
    margin-top: 80px;
  
}

.contact_item_form{
  
    display: flex;
    flex-wrap: wrap;
    
}

.contact_box{
  
    width: 80%; 
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 30px;
    line-height: 25px;
    padding: 20px 30px;
}

.contact_box:hover{
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.16);

}

.contact_content{
margin-left: 15px;
}

.contact{
    font-size: 20px;
    color: blue;
    
}
.contact_icon{
    display: flex;
    align-items: center;

}



.text_center{
    text-align: center;
  
}
.text_center_title{
    font-size: 20px;
    color: blue;
   margin-bottom: 20px;
}

h2{
    margin-bottom: 20px;
}

.contact_wrapper{
    padding: 50px 40px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
   
}
.contact_wrapper:hover{
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.16);
}
.column{
    padding: 15px 25px;
    border-radius: 30px;
    border: 1px solid #e0e0e0;
    margin: 20px;
}
.column_message{
    padding: 15px 25px;
    margin-top: 20px;
    border-radius: 30px;
    border: 1px solid #e0e0e0;
    width: 100%;
}

.full_btn{
    background-color: blue;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 12px 24px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content:center;
  
}
.full_btn:hover{
    cursor: pointer;

}

.footer_content{
     width: 100%;
     margin-top: 80px;
     column-gap: 70px;
     display:flex;
     justify-content: space-between;
}


.business_card{
    width: 500px;
    margin-top: 25px;
}
 
p{
    margin-top: 20px;
    color: #6d6d6d;
    font-size: 18px;
    line-height: 30px;
}


.nav_3{
    width: 160px;
    height: 278px;
    margin-top: 25px;
    font-size: 22px;
    font-weight: bold;
}

.nav_menu_3{
    width: 160px;
    height: 216px;
    margin-top: 25px;
  
    
}
.nav_menu_item_3{
   
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    list-style: none;
    color: #6d6d6d;

  }
  .nav_4{
    width: 500px;
    height: 278px;
    margin-top: 25px;
    font-size: 22px;
    font-weight: bold;
  }
  .nav_menu_item_4{
 
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    list-style: none;
    color: #6d6d6d;

  }

  .newsletter_form{
      position: relative;
      
    }
    
    .newsletter_form input{
        margin-top: 30px;
        height: 55px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid grey;
        box-shadow: none;
        text-shadow: none;
        padding-left: 18px;
        padding-right: 65px;
    }
    
    .newsletter_form  input:focus{
        transition: all 0.4s ease;
        border: 1px solid blue;
      

    }

  .subscribe_btn  img{
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 6px;
    text-align: center;
    /* transition: all 0.4s ease; */
    right: 7px;
    top: 50%; 
    transform: translateY(-50%); 
  }

  .subscribe_btn  img:hover{
    cursor: pointer;
  }

  .made-in-ayroui  img{
      position: fixed;
      left: 5px;
      bottom: 5px;
      width: 220px;
  }


  .arrow_up{
    position: fixed;
    width: 80px;
    height: 80px;
    right: 5px;
    bottom: 5px;
    
  }